<!-- search results page -->

<div class="main">

<div class="main-secondary">

<h1>Search Result</h1>  

</div>

  <div class="c-photo-grid">

    <div class="c-photo-item"

    <% photos = [] %>
      <% @results.each do |result| %>      
        <% f = result.seller.firstname.downcase %>
        <% l = result.seller.lastname.downcase %>

        <% if f == @parameter || l == @parameter %>
          <% photos << result %>
        <% end %>
      <% end %>

      <% if photos.length == 0 %>
        <div>
          <h3 class="padding">Sorry, we can't find a search matching: <%= @parameter.capitalize %></h3>
        </div>
      <% else %>
        <% photos.each do |photo|%>
          <div class="c-photo-item">
            <a href="/photos/<%= photo.id %>">
              <%= image_tag(photo.uploaded_image, class:'c-item') if photo.uploaded_image.attached? %>
            </a>
          </div> 
        <% end %>      
      <% end %>
    </div>

  </div>

</div>