<h1>photos</h1>
<ul>
    <% @photos.each do |photo| %>
        <li>
            <%= photo.title %>
            <%= photo.price %> 
            <%= photo.description %>
            <%= link_to "show", photo_path(photo.id) %>
        </li>
    <% end %>
</ul>