a {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
}

a:hover {
  color: black;
  text-decoration: none;
}

.button-navbar {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 40px;
  background-color: white;
  border: 3px solid $primary-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.button-navbar:hover {
  background-color: $primary-color;
}

.button-navbar:active {
  background-color: $primary-color;
}
.button {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 40px;
  background-color: white;
  border: 3px solid $primary-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: $primary-color;
}

.button:active {
  background-color: $primary-color;
}

.button-long {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  width: 300px;
  height: 40px;
  background-color: white;
  border: 3px solid $primary-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-long:hover {
  background-color: $primary-color;
}

.button-secondary {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 40px;  
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

.button-secondary:hover {
  background-color: $primary-color;
  border: 3px solid $primary-color;
}