.form-container {
  background-color: $secondary-color;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 20px;
}

.form-section {
  background-color: white;
  margin: 10px 0px;
  padding: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-left {
  // background-color: sandybrown;
  width: 34%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}

.form-right {
  background-color: $primary-color;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  width: 66%
}

label {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  line-height: 13pt;
  text-transform: uppercase;
  margin: 0px;
}

input[type=file] {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

.form-control {
  border: 0px;
  background-color: $primary-color;
}

input {
  background-color: transparent;
  border: 0px;
}

input[type=submit] {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15pt;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 40px;
  background-color: white;
  border: 3px solid $primary-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

input[type=submit]:hover {
  background-color: $primary-color;
}

.modal-content {
  background-color: $secondary-color-solid;
} 