h1.custom {
  color: $primary-color;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 75pt;
  line-height: 80pt;
  text-transform: uppercase;
  text-align: center;
}

h1.custom-black {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 75pt;
  line-height: 80pt;
  text-transform: uppercase;
  text-align: center;
}

.c-join-photo-hero {
  height: 83vh;
  padding: 50px;
  background-image: image-url('carles-rabada-1132302-unsplash.jpg');
  object-fit: cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-join-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.c-circle-black {
  background-color: black;
  width: 375px;
  height: 375px;
  border-radius: 100%;
  margin: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.c-circle-white {
  background-color: white;
  width: 375px;
  height: 375px;
  border-radius: 100%;
  margin: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.c-signin-btn {
  // background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-join-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  background-color: $secondary-color-solid;
  border-radius: 0px;
  border: 0px;
  padding: 25px;
}

.modal-title {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;  
  font-weight: 700;
  font-size: 30pt;
}

.modal-backdrop {
  background-color: black;
  opacity:0.7 !important;
}

// –––––– media queries ––––––––

@media only screen and (max-width: 700px) {

  .c-join-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .c-join-photo-hero {
    height: 100vh;
    padding: 50px;
    background-image: image-url('carles-rabada-1132302-unsplash.jpg');
    object-fit: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .c-circle-black {
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .c-circle-white {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
}