.navbar {
  margin-bottom:0px;
  padding: 0px 80px;
  position: sticky; top: 0;
  height: 10vh;
  min-height: 120px;
}

.nav-left {
  background-color: lightgreen;
  display: flex;
}

.navbar-logo {
  margin-right: 50px;
}

.form-inline {
  background-color: yellow;
  margin: 0px !important;
}

input[type=search] {
  background-color:$secondary-color-solid;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 200px !important;
}

button[type=submit] {
  background-color: $secondary-color-solid;
  margin: 0px !important;
  border-radius: 0px !important;
}

.navbar-toggler {
  background-color: $primary-color;
  border-radius: 0px !important;
  border: 0px !important;
}

// ––––– nav right elements –––––

.collapse {
  // background-color: pink;
}

.nav-right {
  // background-color: grey;
  display: flex;
  justify-content: flex-end;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.hi-message {
  padding: 10px;
  align-content: center;
  justify-content: center;
  color: white;
}

.navbar-nav {
  // background-color: green;
  justify-content: flex-end;
}

.dropdown-menu {
  // background-color: lightseagreen;
  padding: 10px;
  width: 100px;
}

.nav-link {
  color: black !important;
  background-color: $primary-color;
}

.nav-link button:active {
  background-color: $primary-color !important;
}

// ––––– media queries ––––––

@media only screen and (max-width: 500px) {

  .navbar {
    margin-bottom:0px;
    padding: 0px 25px;
    position: sticky; top: 0;
    height: 10vh;
    min-height: 200px;
  }
}