.navbar {
  margin-bottom:0px;
  padding: 20px 0px;
  position: sticky; top: 0;
  height: 10vh;
}

.container {
  width: vw;
  margin: 0px 70px;
  max-width: 2000px;
}

li {
  color: $primary-color;
}

.button-container {
  // background-color: pink;
  display: flex;
  align-items: center;
}