// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-photo-hero {
  background-color:lightgrey;
  height: 50vh;
  padding: 50px;
}

.c-category {
  background-color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}

.c-photo-grid {
  background-color: pink;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.c-photo-item {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
}

.c-item {
  width: 300px;
}