.c-photo-hero {
  background-color:lightgrey;
  height: 61vh;
  padding: 50px;
  background-image: image-url('hero1.jpg');
  object-fit: cover;
}

.c-category {
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}