// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-photo-hero {
  background-color:lightgrey;
  height: 61vh;
  padding: 50px;
  background-image: image-url('hero1.jpg');
  object-fit: cover;
}

.c-category {
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}

.c-link {
  color: red;
}

.c-photo-grid {
  // background-color:yellow;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(5, 240px);
  grid-gap: 1rem;
}

.c-photo-item {
  // background-color: lightseagreen;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}