<div class="main">

<div class="c-join-page">
  <div class="c-join">
    <h1>Join as a Seller</h1>
    <div class="c-signin-btn">
      <%= render "layouts/shared/seller_login_form" %>
    </div>

    <div class="c-signin-btn">
      <%= render "layouts/shared/seller_signup_form" %>
    </div>
  </div>    
</div>

  <div class="c-join">
    <h1>Join as a Buyer</h1>
    <div>
      <div class="c-signin-btn">
        <%= render "layouts/shared/buyer_login_form" %>
      </div>
      <div class="c-signin-btn">
        <%= render "layouts/shared/buyer_signup_form" %>
      </div>
    </div>    
  </div>
</div>

</div>