<div class="c-join-page">
  <div class="c-join">
    <h1>Join as a Seller</h1>
    <div>
      <div class="c-signin-btn">
        <%= link_to 'Log In', new_seller_session_path %>
      </div>
      <div class="c-signin-btn">
        <%= link_to 'Sign Up', new_seller_registration_path%>
      </div>
    </div>    
  </div>

  <div class="c-join">
    <h1>Join as a Buyer</h1>
    <div>
      <div class="c-signin-btn">
        <%= link_to 'Log In', new_buyer_session_path %>
      </div>
      <div class="c-signin-btn">
        <%= link_to 'Sign Up', new_buyer_registration_path%>
      </div>
    </div>    
  </div>
</div>