<!-- thank you for your purchase page -->

<div class="main">

<div class="main-secondary">

<h2>Thank you for your purchase!</h2> 
<p></p>
<h3>You paid $<%= @amount/100 %></h3>

  <div class="button">
    <%= link_to 'View Order', order_path(@order) %>
  </div>

</div>

<div class="button-secondary">
  <%= link_to 'Home', root_path %>
</div>

</div>