<!-- thank you for your purchase page -->

<div class="main">

<div class="main-secondary">

<h2>Thank you!, you paid <strong>$<%= @amount/100 %></strong>!</h2>

<%= link_to 'View Order', order_path(@order) %>

</div>

<%= link_to 'Back to Home', root_path %>

</div>